.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.header .logo {
  width: 10%;
}

.header .logo img {
  max-width: 100%;
}

.header .links .menu {
  display: none;
  cursor: pointer;
}

.header .links .menu img {
  transition: all 0.5s ease-in-out;
}

.header .links .menu .menu-bar {
  position: absolute;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100%;
  background-color: rgba(255, 188, 0, 0.9);
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.navlink {
  text-decoration: none;
  color: #fff;
}

.header .links .menu .menu-bar.open {
  right: 0%;
}

.header .links .menu .menu-bar ul {
  list-style: none;
}

.header .links .menu .menu-bar ul li {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.8px;
  transition: all 0.25s ease-in-out;
}

.header .links .menu .menu-bar ul li:hover {
  transform: translateX(10px);
}

.header .links .menu img {
  width: 32px;
  height: 32px;
}

.header .links > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .links > ul li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-weight: 700;
  color: #fff;
}

.header .links > ul li:hover {
  transform: translateY(-4px);
  color: #ffbc00;
}

.header .links .underline {
  background-color: #ffbc00;
  height: 2px;
  width: 0;
  border-radius: 2px;
  transition: width 0.25s ease-in-out;
  position: absolute;
}

@media (max-width: 575.98px) {
  .header .container {
    align-items: flex-end;
  }

  .header .logo {
    width: 20%;
  }

  .header .links .menu {
    display: flex;
  }

  .header .links > ul {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header .container {
    align-items: flex-end;
  }

  .header .logo {
    width: 20%;
  }

  .header .links .menu {
    display: flex;
  }

  .header .links > ul {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header .logo {
    width: 15%;
  }

  .header .links > ul {
    font-size: 14px;
  }

  .header .links > ul li {
    margin: 0 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header .logo {
    width: 15%;
  }
}

@media (min-width: 1200px) {
}
