.slider2 {
  background: url("../../images//Icon-call-.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.slider2 .overlay {
  background-color: rgba(24, 24, 57, 0.5);
  width: auto;
  position: relative;
}

.slider2 .contentCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider2 .contentCon .slogan {
  color: #fff;
  font-size: 100px;
  list-style: none;
  text-align: left;
}

.slider2 .contentCon .slogan li {
  position: relative;
  animation-fill-mode: both;
  animation-duration: 2s;
  font-family: inherit;
  letter-spacing: 3px;
}

.slider2 .contentCon .slogan li:first-of-type {
  animation-name: slide;
}

@keyframes slide2 {
  from {
    left: -500%;
  }
  to {
    left: 0;
  }
}

@keyframes slideBack {
  from {
    left: +500%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 575.98px) {
  .slider .contentCon .slogan {
    font-size: 60px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slider .contentCon .slogan {
    font-size: 65px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slider .contentCon .slogan {
    font-size: 75px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .slider .contentCon .slogan {
    font-size: 90px;
  }
}
